.back-to-top {
  background: #000;
  
}

.back-to-top:hover {
  color: #fff;
  background: #d2ae6d;
  transition: 0.3s ease-in-out;
}

.contact-info {
	font-size: 13px;
}

#topbar .contact-info i {
  color: #000;
  padding: 4px;
}

#topbar .contact-info a:hover {
  color: #d2ae6d;
}

#topbar .social-links a:hover {
  color: #d2ae6d;
}

/* Dropdown Button */
#header .dropbtn {
  background-color: #d2ae6d;
  color: #000;
  font-family: Roboto;
  padding: 8px 25px;
  font-size: 13px;
 
  border: none;
  border-radius: 40px;
  text-transform: uppercase;
  margin-right: 10px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
   margin-top: 10px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  margin-top: 5px;
  display: none;
  position: absolute;
  padding: 5px;
  background-color: #fff;
  min-width: 165px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
  z-index: 9999;
}

/* Links inside the dropdown */
.dropdown-content a {
  border: 1px solid #000;
  padding: 7px 20px!important;
  color: black;
  margin-bottom: 3px;
  font-size: 13px;
 /* padding: 12px 16px;*/
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: #d2ae6d;
	opacity: 80%;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #d2ae6d;}

@media (min-width: 1024px) {
  .dropdown:hover .dropdown-content {
   display: block;
  }
  
}

.nav-menu a {
  display: block;
  position: relative;
  color: #65534c;
  padding: 14px 0 15px 0;
  transition: 0.3s;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}


.nav-menu a:hover, .nav-menu li:hover > a {
  color: #d2ae6d;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: #d2ae6d;
}

.nav-menu .drop-down ul a, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li > a {
  color: #000;
}

.nav-menu .active > a {
	color: #000;
}


.breadcrumbs {
  padding: 5px 0;
  background: #2b2320;
  min-height: 40px;
}

.bg-slide {
	color: #fff;
}

.bg-slide h2 {
	margin-top: 40px;
	font-family: Roboto, sans-serif;
	font-size: 35px;
	padding-top: 80px;
	padding-left: 0px;
}
.bg-slide p {
	font-size: 15px;
	font-family: Roboto, sans-serif;
	margin-bottom: 20px;
}

.bg-slide .btn-read {
	background-color: #d2ae6d!important;
	color: #000 !important;
	font-size: 13px;
	font-family: "Roboto", sans-serif;
	text-transform: inherit!important;
	padding: 7px 10px!important;
	border-radius: 0px!important;
	margin-top: 5px!important;
	margin-bottom: 20px!important;
	border-radius: 40px;

}

.bg-slide .btn-read:hover {
	text-decoration: none;
	cursor: pointer;
    background-color: #5c7212;
    color: #fff!important;

}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.title {
  color: grey;
  font-size: 18px;
}



.card a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.card .description {
	font-size: 13px;
	padding: 5px;
	font-family: Roboto;
}



.new {
	
	margin-top: 5px;
	margin-bottom: 20px;
	
	
}

.new span a {
	color: #000;
	font-size: 14px;
	font-family: sans-serif;
	border: 1.5px solid #000;
	padding: 10px 35px!important;
	
}
.new span a:hover {
	text-decoration: none;
	cursor: pointer;
    background-color: ;
}

#hero .carousel-content {
  background: rgba(28, 23, 21, 0.7);
  padding: 20px;
  color: #fff;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  border-top: 5px solid #d2ae6d;
}

#hero .carousel-content p {
	font-family: Roboto;
  color: #fff;
  margin-bottom: 30px;
  font-size: 13px;
  font-weight:;
}

#hero .btn-get-started {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 4px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: #fff;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 2px solid #d2ae6d;
 
}

#hero .btn-get-started:hover {
	background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.cta {
  background: #f3f1f0;
  padding: 30px 0;
  color: #574741;
}


.cta .cta-btn {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 25px;
  border-radius: 2px;
  transition: 0.2s;
  margin: 10px;
  border-radius: 4px;
  border: 2px solid #000;
  color: #000;
  background: #fff;
 
}

.cta .cta-btn:hover {
  background: transparent;
  
  border: 2px solid #d2ae6d;
  color: #000;
}

.cta .cta-btn {
  position: relative;
  animation-name: shake;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  cursor: pointer;
}

.cta .cta-btn:hover {
  animation-name: shakeAnim;
}

@keyframes shakeAnim {
  0% {left: 0}
  1% {left: -3px}
  2% {left: 5px}
  3% {left: -8px}
  4% {left: 8px}
  5% {left: -5px}
  6% {left: 3px}
  7% {left: 0}
}

@keyframes shake {
  0% {left: 0}
  1% {left: -3px}
  2% {left: 5px}
  3% {left: -8px}
  4% {left: 8px}
  5% {left: -5px}
  6% {left: 3px}
  7% {left: 0}
}

.cta p {
	font-size: 13px;
	font-family: Roboto;
}

.services h4 a {
	font-family: Roboto;
  margin-top: 10px;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
}

.features .nav-link {
  border: 0;
  padding: 20px 15px;
  transition: 0.3s;
  color: #000;
}

.features .nav-link:hover {
  color: #cfa963;
}

.features .nav-link h4 {
  font-size: 18px;
  font-weight: 600;
}

.features .nav-link p {
	font-family: "Roboto", sans-serif;
  font-size: 13px;
  margin-bottom: 0;
}

.features .nav-link.active {
  box-shadow: 0px 0 15px rgba(0, 0, 0, 0.12);
  color: #cfa963;
}

.products .btn-read {
	background-color: #d2ae6d!important;
	color: #000 !important;
	font-size: 13px;
	font-family: "Roboto", sans-serif;
	text-transform: inherit!important;
	padding: 7px 10px!important;
	border-radius: 0px!important;
	margin-top: 5px!important;
	margin-bottom: 20px!important;
	border-radius: 40px;

}

.products .btn-read:hover {
	text-decoration: none;
	cursor: pointer;
    background-color: #5c7212;
    color: #fff!important;

}

.worry {
	height: 400px;  
    margin-top: 0px;    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: #000;
    max-width: 100%;
}

.bkg {
	color: #fff;
}

.bkg h2 {
	margin-top: 20px;
	font-family: Roboto, sans-serif;
	font-size: 35px;
	padding-top: 80px;
	padding-left: 0px;
}
.bkg p {
	font-size: 15px;
	font-family: Roboto, sans-serif;
	margin-bottom: 20px;
}

.worry .btn-learn {
	background-color: #d2ae6d!important;
	color: #000 !important;
	font-size: 13px;
	font-family: "Roboto", sans-serif;
	text-transform: inherit!important;
	padding: 7px 10px!important;
	border-radius: 0px!important;
	margin-top: 5px!important;
	margin-bottom: 20px!important;
	border-radius: 40px;

}

.worry .btn-learn:hover {
	text-decoration: none;
	cursor: pointer;
    background-color: #5c7212;
    color: #fff!important;

}

#footer .footer-top {
  padding: 30px 0 30px 0;
  background: #ffffff;
  border-top: 5px solid #4d4d4d;
  margin-top: 15px;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
  font-size: 14px;
  font-family: Roboto, sans-serif;
  margin: 0 0 10px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 1px;
  color: #000;
}

#footer .footer-top .footer-contact p {
  font-family: Roboto, sans-serif;
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 0;
  color: #b4aca8;
}

#footer .footer-top h4 {
	font-family: Roboto, sans-serif;
  font-size: 14px;
  color: #000;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 15px;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  font-family: Arial, sans-serif;
  color: #d2ae6d;
  font-size: 12px;
/*  line-height: 1;*/
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #d2ae6d;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 12px;
}

#footer .footer-newsletter p {
  color: grey;
  font-size: 13px;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px 0 0 4px;
  text-align: left;
   box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
}

#footer .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: -4px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 14px;
  padding: 0 20px;
  background: #d2ae6d;
  font-family: Roboto, sans-serif;
  color: #000;
  transition: 0.3s;
 /* border-radius: 0 4px 4px 0;*/
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);
}

#footer .footer-newsletter form input[type="submit"]:hover {
  background: #d5b476;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #d2ae6d;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #dbbf8a;
  color: #fff;
  text-decoration: none;
}

.cookie-container {
	position: fixed;
	bottom: -100%;
	left: 0;
	right: 0;
	background: #cce6ff;
	opacity: 90%;
	color: #000;
	font-family: Helvetica, sans-serif;
	font-size: 14px;
	padding: 8px 32px;
	z-index: 1;
	 box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.08);
	 transition: 0.4s;
}

.cookie-container.active {
	bottom: 0;
}

.cookie-container a {
	color: #ff0000;
}

.cookie-btn {
	background: #001233;
	border: 0;
	color: #f5f6fa;
	padding: 10px 28px;
	border-radius: 20px;
}


/*** About Us Page***/

.about-us .content h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
  text-decoration: underline;
}

.about-us .content p {
  margin-bottom: 0;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.about-us .content .icon-box {
  margin-top: 25px;
}

.about-us .content .icon-box h4 {
  font-size: 20px;
  font-weight: 400;
  margin: 5px 0 10px 60px;
  font-family: "Roboto", sans-serif;
  text-decoration:;
}

.about-us .content .icon-box i {
  font-size: 28px;
  float: left;
  color: #d2ae6d;
}

.about-us .content .icon-box p {
	font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #000;
  margin-left: 60px;
}

.team .btn-view {
	background-color: #d2ae6d!important;
	color: #000 !important;
	font-size: 13px;
	font-family: "Roboto", sans-serif;
	text-transform: inherit!important;
	padding: 7px 10px!important;
	border-radius: 0px!important;
	margin-top: 5px!important;
	margin-bottom: 20px!important;
	border-radius: 40px;
	float: right;

}

.team .btn-view:hover {
	text-decoration: none;
	cursor: pointer;
    background-color: #5c7212;
    color: #fff!important;

}

.team .section-title h2 {
	font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
  text-decoration: underline;
}

.team .section-title p {
	margin-bottom: 0;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.team .detail {
	padding: 8px 8px 0px 8px;
	font-family: "Roboto", sans-serif;
	font-size: 12px;
}

.team .member .social {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 120px;
  color: #000;
  opacity: 0;
  transition: ease-in-out 0.3s;
  text-align: center;
  background: rgba(255, 255, 255, 0.85);
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: .9s;
  background-color: #d2ae6d;
}

.skills .section-title h2 {
	font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
  text-decoration: underline;
}

.skills .section-title p {
	margin-bottom: 0;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.clients .section-title h2 {
	font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
  text-decoration: underline;
}

.clients .section-title p {
	margin-bottom: 0;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.news .head {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 24px;
	text-align: center; 
	text-decoration: underline;
}

.carousel-indicators li {
	margin-top: 0px;
	background:;
}

.news .content {
	height: 230px; 
	max-width: 100%;
	text-align: center;
	margin-top: 30px;
}

.news p {
	font-family: "Roboto", sans-serif;
	font-size: 14px;
}

.carousel-item a {
	font-family: "Roboto", sans-serif;
	  text-transform: uppercase;
	  font-weight: 500;
	  font-size: 13px;
	  letter-spacing: 1px;
	  display: inline-block;
	  padding: 5px 10px;
	
	  transition: 0.2s;
	  margin: 10px;
	  border: 2px solid #d2ae6d;
	  color: #000;
	  background: #fff;
}

.carousel-item a:hover {
	border: 2px solid #000;
	color: #d2ae6d;
}

.download .btn-download {
	background-color: #d2ae6d!important;
	color: #000 !important;
	font-size: 13px;
	font-family: "Roboto", sans-serif;
	text-transform: inherit!important;
	padding: 7px 10px!important;
	border-radius: 0px!important;
	margin-top: 5px!important;
	margin-bottom: 20px!important;
	border-radius: 40px;

}

.download .btn-download:hover {
	text-decoration: none;
	cursor: pointer;
    background-color: #5c7212;
    color: #333333!important;

}




/**** PRODUCT.PHP PAGE ******/

.services .icon-box {
  padding: 25px 5px;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
  height: 170px;
  position: relative;
  opacity: 65% !important;
  background: #000;
  border: 0px;
}

.services .icon {
  position: absolute;
  top: -36px;
  left: calc(50% - 36px);
  transition: 0.2s;
  border-radius: 50%;
  border: 6px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 72px;
  height: 72px;
  background: #d2ae6d;
}

.services .icon-box:hover .icon {
  background: #fff;
  border: 2px solid #d2ae6d;
}


.services .icon-box:hover .icon i {
  color: #000;
}

.services .icon-box .title a {
  color: #d2ae6d;
}

.services .icon-box:hover .title a {
  color: #b08536;
  text-decoration: underline;
}

.services .description {
	font-family: "Roboto", sans-serif;
	font-size: 13px;
	color: #fff;
}


.services .description a {
	color: #d2ae6d;
	text-decoration: none;
	font-size: 13px;
}

.services .description a:hover {
	color: #d2ae6d;
	text-decoration: underline;
}

.services .automobile {
	background: url('../img/products/motor2.jpg');
	height: 215px;
	max-width: 260px !important;
	margin-right: 22px;
	margin-bottom: 25px;
	margin-top: 15px;
}

.services .property {
	background: url('../img/products/propertyy.jpg');
	height: 215px;
	max-width: 260px !important;
	margin-right: 22px;
	margin-bottom: 25px;
	margin-top: 15px;
}

.services .accident {
	background: url('../img/products/accident.jpg');
	height: 215px;
	max-width: 260px !important;
	margin-bottom: 25px;
	margin-top: 15px;
	margin-right: 22px;

}

.services .liability {
	background: url('../img/products/liability.jpg');
	height: 215px;
	max-width: 260px !important;
	margin-bottom: 25px;
	margin-top: 15px;

}

.services .compulsory {
	background: url('../img/products/compulsory.jpg');
	height: 215px;
	max-width: 260px !important;
	margin-right: 22px;
	margin-bottom: 25px;
	margin-top: 15px;
}

.services .oil {
	background: url('../img/products/oil.jpg');
	height: 215px;
	max-width: 260px !important;
	margin-right: 22px;
	margin-bottom: 25px;
	margin-top: 15px;
}

.services .marine {
	background: url('../img/products/marine.jpg');
	height: 215px;
	max-width: 260px !important;
	margin-bottom: 25px;
	margin-top: 15px;
	margin-right: 22px;

}

.services .engineering {
	background: url('../img/products/engineering.jpg');
	height: 215px;
	max-width: 260px !important;
	margin-bottom: 25px;
	margin-top: 15px;

}


.retail .icon-box {
  padding: 25px 5px;
  margin-top: 35px;
  margin-bottom: 25px;
  text-align: center;
  height: 170px;
  position: relative;
  background: #0d0d0d;
  border: 0px;
  border-radius: 5px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
}

.retail .icon {
  position: absolute;
  top: -50px;
  left: calc(50% - 36px);
  transition: 0.2s;
  border-radius: 50%;
  border: 6px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 72px;
  height: 72px;
  background: #d2ae6d;
}

.retail .icon-box:hover .icon {
  background: #fff;
  border: 2px solid #d2ae6d;
}


.retail .icon-box:hover .icon i {
  color: #000;
}

.retail .icon-box .title a {
  color: #d2ae6d;
}

.retail .icon-box:hover .title a {
  color: #b08536;
  text-decoration: underline;
}

.retail .description {
	font-family: "Roboto", sans-serif;
	font-size: 13px;
	color: #a6a6a6;
}


.retail .description a {
	color: #d2ae6d;
	text-decoration: none;
	font-size: 13px;
}

.retail .description a:hover {
	color: #d2ae6d;
	text-decoration: underline;
}





/**** AUTOMOBILE.PHP PAGE *******/
.automobile h4 {
	text-align: center; 
	text-decoration: underline;
	margin-bottom: 20px;
}

.automobile .narration p {
	text-align: justify;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	color: #000;
}

.automobile .narration .benefits {
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	color: #000;
}

.automobile .box {
	height: 190px;
	background-color: #fff;
	box-shadow: 0px 0 15px rgba(0, 0, 0, 0.12);
	
}

.automobile .box p {
	padding: 10px;
	color: #000;
	text-align: center;
	font-family: "Roboto", sans-serif;
	font-size: 17px;
}

.automobile .box a {
}

.side .cta-btn {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0px;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 2px;
  transition: 0.2s;
  margin: 20px;
  border-radius: 0px;
  border: 2px solid #000;
  color: #000;
  background: #d2ae6d;
 
}


.side .cta-btn:hover {
  background: transparent;
  
  border: 2px solid #d2ae6d;
  color: #000;
}

.side .cta-btn {
  position: relative;
  animation-name: shake;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  cursor: pointer;
}

.side .cta-btn:hover {
  animation-name: shakeAnim;
}

.sliding {
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	/*border: 1px solid #d9d9d9;*/
	/*border-radius: 5px;*/
	padding-left: 160px; 
	padding-top: 5px;
}